<title>REGISTRO VEHICULO</title>
<br><br>
<div align="center"><img src="assets/logo.png" alt="Logo">
    <h1>Registrar Vehiculo</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form [formGroup]="formregistro">
        <div class="form-group">
            <i class="fas fa-paper-plane"></i>__<label>Id Vehiculo</label>
            <input id=id_vehiculo name="id_vehiculo" [ngClass]="{'is-invalid': control.id_vehiculo.errors && control.id_vehiculo.touched}" formControlName="id_vehiculo" type="text" placeholder="Id vehiculo">
            <div *ngIf="control.id_vehiculo.errors" class="invalid-feedback">
                <div *ngIf="control.id_vehiculo.errors.required">Se requiere la id del vehiculo</div>
                <div *ngIf="control.id_vehiculo.errors.maxlength">Caracteres mayores</div>
            </div>
        </div>

        <div>
            <i class="bi bi-person-lines-fill"></i>__<label>Cedula Cliente</label>
            <select id="cedula" name="cedula" [ngClass]="{'is-invalid': control.cedula.errors && control.cedula.touched}" formControlName="cedula">
                <option value="">Seleccionar</option>
                <option value="cedula">123456789</option>
                <option value="cedula">987654321</option>
                <option value="cedula">789123456</option>
            </select>
            <div *ngIf="control.cedula.errors" class="invalid-feedback">
                <div *ngIf="control.cedula.errors.required">Se requiere la cedula</div>
                <div *ngIf="control.cedula.errors.maxlength">Caracteres mayores a 12</div>
            </div>
        </div>

        <div>
            <i class="fas fa-edit"></i>__<label>Marca</label>
            <input type="text" id="marca" name="marca" [ngClass]="{'is-invalid': control.marca.errors && control.marca.touched}" formControlName="marca" placeholder="marca">
            <div *ngIf="control.marca.errors" class="invalid-feedback">
                <div *ngIf="control.marca.errors.required">Se requiere la marca</div>
            </div>
        </div>

        <div>
            <i class="far fa-paper-plane"></i>__ <label>Tipo de Vehiculo</label>
            <select id="tipo_vehiculo" name="tipo_vehiculo" [ngClass]="{'is-invalid': control.tipo_vehiculo.errors && control.tipo_vehiculo.touched}" formControlName="tipo_vehiculo">
                <option value="">Seleccionar</option>
                <option value="carro">Carro</option>
                <option value="moto">Moto</option>
                <option value="bicicleta">Bicicleta</option>
            </select>
            <div *ngIf="control.tipo_vehiculo.errors" class="invalid-feedback">
                <div *ngIf="control.tipo_vehiculo.errors.required">Se requiere el tipo de vehiculo</div>
            </div>
        </div>

        <div>
            <i class="fas fa-palette"></i>__<label>Color</label><br>
            <select id="color" name="color" [ngClass]="{'is-invalid': control.color.errors && control.color.touched}" formControlName="color" >
                <option value="">Seleccionar</option>
                <option value="rojo" style="background-color: red;">Rojo</option>
                <option value="negro" style="background-color: black;color: white;">Negro</option>
                <option value="verde" style="background-color: green;">Verde</option>
                <option value="amarillo" style="background-color: yellow;">Amarillo</option>
                <option value="azul" style="background-color: blue; color: white;">Azul</option>
                <option value="blanco" style="background-color: white;">Blanco</option>
                <option value="gris" style="background-color: gray;">Gris</option>
                <option value="naranja" style="background-color: orange;">Naranja</option>
                <option value="morado" style="background-color: purple;">Morado</option>
            </select>
            <div *ngIf="control.color.errors" class="invalid-feedback">
                <div *ngIf="control.color.errors.required">Se requiere el color</div>
            </div>
        </div>

        <br>
        <button id="divcontainer2" class="btn" (click)="onSubmit()" [disabled]="formregistro.invalid">
            <span>
                <a href="https://localhost:5001/clienteregistro"></a>
            </span>
            Guardar</button>
    </form>
</div>
<br>