<title>REGISTRO TICKET</title>
<br><br>
<div align="center"><img src="assets/ticket.png" alt="Logo">
    <h1>Registrar Ticket</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form [formGroup]="formregistro">
        <div class="form-group">
            <i class="fas fa-money-check-alt"></i>__<label>Id ticket</label>
            <input id=id_ticket name="idTicket" [ngClass]="{'is-invalid': control.idTicket.errors && control.idTicket.touched}" formControlName="idTicket" type="text" placeholder="Id ticekt">
            <div *ngIf="control.idTicket.errors" class="invalid-feedback">
                <div *ngIf="control.idTicket.errors.required">Se requiere la id del ticket</div>
            </div>
        </div>

        <div>
            <i class="bi bi-person-lines-fill"></i>__<label>Cedula Cliente</label>
            <select id="cedula" name="cedula" [ngClass]="{'is-invalid': control.cedula.errors && control.cedula.touched}" formControlName="cedula">
                <option value="">Seleccionar</option>
                <option *ngFor="let cliente of clientes" value="cedula">{{cliente.cedula}}</option>
            </select>
            <div *ngIf="control.cedula.errors" class="invalid-feedback">
                <div *ngIf="control.cedula.errors.required">Se requiere la cedula</div>
                <div *ngIf="control.cedula.errors.maxlength">Caracteres mayores a 12</div>
            </div>
        </div>

        <div>
            <i class="bi bi-person-lines-fill"></i>__<label>Id Vehiculo</label>
            <select id="id_vehiculo" name="idVehiculo" [ngClass]="{'is-invalid': control.idVehiculo.errors && control.idVehiculo.touched}" formControlName="idVehiculo">
                <option value="">Seleccionar</option>
                <option *ngFor="let vehiculo of vehiculos" value="id_vehiculo">{{vehiculo.idVehiculo}}</option>
            </select>
            <div *ngIf="control.idVehiculo.errors" class="invalid-feedback">
                <div *ngIf="control.idVehiculo.errors.required">Se requiere el id del vehiculo</div>
                <div *ngIf="control.idVehiculo.errors.maxlength">Caracteres mayores a 12</div>
            </div>
        </div>

        <div>
            <i class="bi bi-person-lines-fill"></i>__<label>Id Estacionamiento</label>
            <select id="idEstacionamiento" name="idEstacionamiento" [ngClass]="{'is-invalid': control.idEstacionamiento.errors && control.idEstacionamiento.touched}" formControlName="idEstacionamiento">
                <option value="">Seleccionar</option>
                <option *ngFor="let estacionamiento of estacionamientos" value="id_estacionamiento">{{estacionamiento.idEstacionamiento}}</option>
            </select>
            <div *ngIf="control.idEstacionamiento.errors" class="invalid-feedback">
                <div *ngIf="control.idEstacionamiento.errors.required">Se requiere el id del estacionamiento</div>
                <div *ngIf="control.idEstacionamiento.errors.maxlength">Caracteres mayores a 12</div>
            </div>
        </div>

        <div>
            <i class="bi bi-calendar-fill"></i>__<label>Fecha de elaboración:</label>
            <input type="date" id="fechaElaboracion" name="fechaElaboracion" [ngClass]="{'is-invalid': control.fechaElaboracion.errors && control.fechaElaboracion.touched}" formControlName="fechaElaboracion">
            <div *ngIf="control.fechaElaboracion.errors" class="invalid-feedback">
                <div *ngIf="control.fechaElaboracion.errors.required">Se requiere la fecha de elaboración</div>
            </div>
        </div>

        <div>
            <i class="bi bi-calendar-fill"></i>__<label>Fecha de salida:</label>
            <input type="date" id="fechaSalida" name="fechaSalida"[ngClass]="{'is-invalid': control.fechaSalida.errors && control.fechaSalida.touched}" formControlName="fechaSalida">
            <div *ngIf="control.fechaSalida.errors" class="invalid-feedback">
                <div *ngIf="control.fechaSalida.errors.required">Se requiere la fecha de salida</div>
            </div>
        </div>

        <div>
            <i class="bi bi-calendar-fill"></i>__<label>Dias:</label>
            <label>{{ticket.dias}}</label>
        </div>

        <div>
            <i class="bi bi-calculator"></i>__<label>Subtotal</label><br>
            <label>{{ticket.subtotal}}</label>
        </div>

        <div>
            <i class="bi bi-percent"></i>__<label>Iva</label><br>
            <label>{{ticket.iva}}</label>
        </div>
       
        <div>
            <i class="bi bi-calculator-fill"></i>__<label>Total</label><br>
            <label>{{ticket.total}}</label>

        </div>

        <br>
        <button id="divcontainer2" class="btn" (click)="onSubmit()" [disabled]="formregistro.invalid">
            <span>
                <a href="#"></a>
            </span>
            Guardar</button>
    </form>
</div>
<br>