<title>REGISTRO CLIENTE</title>
<br><br>
<div align="center"><img src="assets/user2.png" alt="Logo">
    <h1>Registrar Cliente</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form>
        <div class="form-group">
            <i class="fas fa-paper-plane"></i>__<label>Id Vehiculo</label>
            <br>
            <label>{{vehiculo.idVehiculo}}</label>
           
        </div>

        <div>
            <i class="bi bi-person-lines-fill"></i>__<label>Cedula Cliente</label>
            <select id="cedula" name="cedula" [(ngModel)]="vehiculo.cedula">
                <option value="">Seleccionar</option>
                <option *ngFor="let cliente of clientes" [value]="cliente.cedula">{{cliente.cedula}}</option>
            </select>

        </div>

        <div>
            <i class="fas fa-edit"></i>__<label>Marca</label>
            <input type="text" id="marca" name="marca" [(ngModel)]="vehiculo.marca" placeholder="Marca">
          
        </div>

        <div>
            <i class="far fa-paper-plane"></i>__ <label>Tipo de Vehiculo</label>
            <select id="tipo" name="tipo" [(ngModel)]="vehiculo.tipo">
                <option value="">Seleccionar</option>
                <option value="carro">Carro</option>
                <option value="moto">Moto</option>
                <option value="bici">Bicicleta</option>
            </select>
           
        </div>

        <div>
            <i class="fas fa-palette"></i>__<label>Color</label><br>
            <select id="color" name="color" [(ngModel)]="vehiculo.color">
                <option value="">Seleccionar</option>
                <option value="rojo" style="background-color: red;">Rojo</option>
                <option value="negro" style="background-color: black;color: white;">Negro</option>
                <option value="verde" style="background-color: green;">Verde</option>
                <option value="amarillo" style="background-color: yellow;">Amarillo</option>
                <option value="azul" style="background-color: blue; color: white;">Azul</option>
                <option value="blanco" style="background-color: white;">Blanco</option>
                <option value="gris" style="background-color: gray;">Gris</option>
                <option value="naranja" style="background-color: orange;">Naranja</option>
                <option value="morado" style="background-color: purple;">Morado</option>
            </select>
        </div>

        <div>
            <i class="bi bi-percent"></i>__<label>Precio</label><br>
            <label>{{precio}}</label>
        </div>
        <br>
        <button id="divcontainer2" class="btn" (click)="update()">
            <span>
                <a href="https://localhost:5001/clienteregistro"></a>
            </span>
            Actualizar</button>
    </form>
</div>
<br>