<title>REGISTRO ESTACIONAMIENTO</title>
<br><br>
<div align="center"><img src="../../../../assets/parking.png" alt="Logo">
    <h1>Registrar Estacionamiento</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form [formGroup]="formregistro">
        <div class="form-group">
            <i class="fas fa-map-marked-alt"></i>__<label>Id Estacionamiento</label>
            <input id=idEstacionamiento name="idEstacionamiento"[ngClass]="{'is-invalid': control.idEstacionamiento.errors && control.idEstacionamiento.touched}" formControlName="idEstacionamiento" type="text" placeholder="Id estacionamiento">
            <div *ngIf="control.idEstacionamiento.errors" class="invalid-feedback">
                <div *ngIf="control.idEstacionamiento.errors.required">Se requiere la id del estacionamiento</div>
                <div *ngIf="control.idEstacionamiento.errors.maxlength">Caracteres mayores</div>
            </div>
        </div>

        <div>
            <i class="far fa-paper-plane"></i>__<label>Tipo de estacionamiento</label>
            <select id="tipo" name="tipo" [ngClass]="{'is-invalid': control.tipo.errors && control.tipo.touched}" formControlName="tipo">
                <option value="seleccionar">Seleccionar</option>
                <option value="carro">Carro</option>
                <option value="moto">Moto</option>
                <option value="bici">Bicicleta</option>
            </select>
            <div *ngIf="control.tipo.errors" class="invalid-feedback">
                <div *ngIf="control.tipo.errors.required">Se requiere el tipo de estacionamiento</div>
            </div>

        </div>

        <div>
            <i class="bi bi-123"></i>__<label>Numero de cupo</label>
            <input type="number" id="numeroCupo" name="numeroCupo" [ngClass]="{'is-invalid': control.numeroCupo.errors && control.numeroCupo.touched}" formControlName="numeroCupo" placeholder="Numero de cupo">
            <div *ngIf="control.numeroCupo.errors" class="invalid-feedback">
                <div *ngIf="control.numeroCupo.errors.required">Se requiere el Numero de cupo</div>
            </div>
        </div>

        <div>
            <i class="fas fa-unlock"></i>__<label>Estado</label>
            <select id="estado" name="estado" [ngClass]="{'is-invalid': control.estado.errors && control.estado.touched}" formControlName="estado">
                <option value="seleccionar">Seleccionar</option>
                <option value="disponible">Disponible</option>
                <option value="ocupado">Ocupado</option>
            </select>
            <div *ngIf="control.estado.errors" class="invalid-feedback">
                <div *ngIf="control.estado.errors.required">Se requiere el estado</div>
            </div>
        </div>

        <br>
        <button id="divcontainer2" class="btn" (click)="onSubmit()" [disabled]="formregistro.invalid">
            <span>
                <a href="https://localhost:5001/clienteregistro"></a>
            </span>
            Guardar</button>
    </form>
</div>
<br>